# My first Jupyter notebook
This is a demo page
* it uses markdown for the formatting
* it uses python for the code

In [3]:
print('hello world!')
print('23*27 =',23*27)

hello world!
23*27 = 621

In [4]:
primes = [2,3,5,7,11,13,17,19]
for p in primes:
    print(p,p*p)

2 4
3 9
5 25
7 49
11 121
13 169
17 289
19 361

# Tuples
Examples of tuples in Python

In [6]:
t = (10,20,30,40,50)
print(t[1])
print(t[1:-1])
t[1]=21

20
(20, 30, 40)

<class 'TypeError'>: 'tuple' object does not support item assignment

In [7]:
s = "konichi-wa"
print(s[1])
print(s[1:-1])
s[1]='a'

o
onichi-w

<class 'TypeError'>: 'str' object does not support item assignment

In [8]:
birthdate = (24,'July',2023)
birthdate

(24, 'July', 2023)

In [9]:
(a,b,c) = (1,2,3)
print(a,b,c)

1 2 3

In [10]:
a=1
b-2
c=3
print(a,b,c)

1 2 3

In [11]:
for x in t:
    print(x)

10
20
30
40
50