# dictionaries
These are key/value pairs where you access elements my string indices
Actually, any immutable (hashable) value can be an index

In [1]:
p1 = {'name':'Tim','age':68,'gender':'male'}
print(p1)

{'name': 'Tim', 'age': 68, 'gender': 'male'}

# indexing with DICT[KEY]

In [3]:
print(p1['name'])
p1['age'] = p1['age'] + 1
print(p1)

Tim
{'name': 'Tim', 'age': 69, 'gender': 'male'}

# Looping through the keys of a dictionary

In [5]:
for k in p1:
    print('key is',k,'value is',p1[k])

key is name value is Tim
key is age value is 69
key is gender value is male

In [6]:
course = {'name':'Intro to Python', 'enrolled':34, 'semester':'Sum23', 'coursenum':'COSI 10a', 'section':1}
print(course)

{'name': 'Intro to Python', 'enrolled': 34, 'semester': 'Sum23', 'coursenum': 'COSI 10a', 'section': 1}

In [9]:
print(course['coursenum'], course['name'], "was offered in", 
      course['semester'], "and enrolled", course['enrolled'])

COSI 10a Intro to Python was offered in Sum23 and enrolled 34

In [11]:
print(course["coursenum"]+" "+course["name"]+" "+course["coursenum"]
      +" was offered in "+course["semester"]
      +" and enrolled",course["enrolled"])

COSI 10a Intro to Python COSI 10a was offered in Sum23 and enrolled 34

In [15]:
course2 = {'name':'Mobile Apps', 'enrolled':30, 'semester':'Sum23', 'coursenum':'COSI 153a', 'section':1}

In [16]:
def print_course(course):
    print(course['coursenum'], course['name'],
          'was offered in',course['semester'], 
          'and enrolled', course['enrolled'])
print_course(course)
print_course(course2)

COSI 10a Intro to Python was offered in Sum23 and enrolled 34
COSI 153a Mobile Apps was offered in Sum23 and enrolled 30

In [27]:
#People Dictionaries
#Add four people in dictionary form below:
people = [
{'name':'Tim',       'age':67,    'height':68},
{'name':'Ryan' ,   'age':24,    'height':68},
{'name':'Caitlin',   'age':28,     'height':64},
{'name':'David',   'age':19,    'height':59},
{'name':'Toby',     'age':18,    'height':59},
{'name':'Anna',    'age':18,    'height':57},
{'name':'Jason',   'age':20,    'height':68},
{'name':'Jennifer','age':20,    'height':64},
{'name':'Penny',   'age':22,    'height':64},

{'name':'Sara', 'age':33, 'height':65},
{'name':'Greg', 'age':45 , 'height':72},
{'name':'Julian' , 'age':17, 'height':67},
{'name':'Lebron',   'age': 38,'height':81},
{'name':'Jayson',   'age': 25,'height':80},
{'name':'Novak',    'age': 36,'height':74},
{'name': 'Mike',   'age':42,   'height':72},
{'name': 'Kayla',   'age':16,   'height':62},
{'name': 'Kendrick',  'age':29,  'height':76},
{"name":"Aria", "age":20, "height":68},
{"name":"Emma", "age":18, "height":65},
{"name":"Sophia", "age":60, "height":80}, 
{'name':'John', 'age': 54,'height':91},
{'name':'Joe The Giraffe','age': 23,'height':334},
{'name':'Bob','age': 21,'height':67},
{'name': 'Louis', 'age': 31, 'height': 67},
{'name': 'Luci', 'age': 90, 'height': 80},
{'name': 'Ruth', 'age': 66, 'height': 54},

{'name' : 'Josh', 'age':29, 'height':87},
{'name' : 'Helen', 'age':29, 'height':84},
{'name' : 'Sarah', 'age':20, 'height':3}, 


{'name':'Jomothy',    'age':29,    'height':59},
{'name':'Piter',          'age':54,    'height':70},
{'name':'Limmy',       'age':9,      'height':53},


{'name': 'Sam', 'age': 20, 'sex': 'N/A', 'height': 65},
{'name': 'Cass', 'age': 21, 'sex': 'f', 'height': 66},
{'name': 'Jim', 'age': 19, 'sex': 'm', 'height': 72}


]  # end of people list

print(len(people))

total = 0
for person in people:
    print(person)
    total += person['age']
print('average age is',total/len(people))

36
{'name': 'Tim', 'age': 67, 'height': 68}
{'name': 'Ryan', 'age': 24, 'height': 68}
{'name': 'Caitlin', 'age': 28, 'height': 64}
{'name': 'David', 'age': 19, 'height': 59}
{'name': 'Toby', 'age': 18, 'height': 59}
{'name': 'Anna', 'age': 18, 'height': 57}
{'name': 'Jason', 'age': 20, 'height': 68}
{'name': 'Jennifer', 'age': 20, 'height': 64}
{'name': 'Penny', 'age': 22, 'height': 64}
{'name': 'Sara', 'age': 33, 'height': 65}
{'name': 'Greg', 'age': 45, 'height': 72}
{'name': 'Julian', 'age': 17, 'height': 67}
{'name': 'Lebron', 'age': 38, 'height': 81}
{'name': 'Jayson', 'age': 25, 'height': 80}
{'name': 'Novak', 'age': 36, 'height': 74}
{'name': 'Mike', 'age': 42, 'height': 72}
{'name': 'Kayla', 'age': 16, 'height': 62}
{'name': 'Kendrick', 'age': 29, 'height': 76}
{'name': 'Aria', 'age': 20, 'height': 68}
{'name': 'Emma', 'age': 18, 'height': 65}
{'name': 'Sophia', 'age': 60, 'height': 80}
{'name': 'John', 'age': 54, 'height': 91}
{'name': 'Joe The Giraffe', 'age': 23, 'height': 334}
{'name': 'Bob', 'age': 21, 'height': 67}
{'name': 'Louis', 'age': 31, 'height': 67}
{'name': 'Luci', 'age': 90, 'height': 80}
{'name': 'Ruth', 'age': 66, 'height': 54}
{'name': 'Josh', 'age': 29, 'height': 87}
{'name': 'Helen', 'age': 29, 'height': 84}
{'name': 'Sarah', 'age': 20, 'height': 3}
{'name': 'Jomothy', 'age': 29, 'height': 59}
{'name': 'Piter', 'age': 54, 'height': 70}
{'name': 'Limmy', 'age': 9, 'height': 53}
{'name': 'Sam', 'age': 20, 'sex': 'N/A', 'height': 65}
{'name': 'Cass', 'age': 21, 'sex': 'f', 'height': 66}
{'name': 'Jim', 'age': 19, 'sex': 'm', 'height': 72}
average age is 31.38888888888889